@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* default */
html,
body {
  font-family: Nunito;
}

a {
  text-decoration: none;
}

/* color */
html,
body {
  --main-color: #fe7f08;

  --white-color: #fff;
  --black-color: #333;

  --gray01-color: #eae8e8;
  --gray02-color: #e2e2e2;

  --red-color: #ff0000;
  --deepred-color: rgb(252, 0, 84);

  --orange01-color: rgb(255, 253, 248);
  --orange05-color: #ee470a;

  --beige-color: rgb(255, 252, 236);

  --lime-color: rgb(228, 255, 53);

  --green01-color : rgb(189, 228, 215);
  --green02-color : rgb(123, 144, 134);

  --navy-color: rgb(22, 26, 47);
}
