@charset "utf-8";

@import url(./reset.css);
@import url(./default.css);

body {
  background-color: var(--white-color);
  cursor: none;
}

#wrap {
  width: 100%;
}

header {
  width: 100%;
  height: 13px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

header .progessbar {
  width: 100%;
  height: 100%;
  background-color: var(--gray01-color);
}

header .progessbar .bar {
  width: 100%;
  height: 100%;
  background-color: var(--orange05-color);
  transition: 0.7s;
}

.contents {
  width: 100%;
  display: flex;
  position: relative;
}

nav,
section {
  position: absolute;
  transition: transform 0.5s;
}

nav {
  left: -400px;
  width: 400px;
  height: 1500px;
  background-color: var(--main-color);
}

nav.active,
nav.active ~ section {
  transform: translate3d(400px, 0, 0);
}

.contents nav ul {
  position: sticky;
  left: 0;
  top: 0;
  padding-top: 30%;
  padding-left: 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contents nav ul li a {
  width: 100%;
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--white-color);
  padding-bottom: 50px;
}

.contents nav ul li.title a {
  font-size: 2.4rem;
}

.contents section {
  width: calc(100% - 430px);
  height: 100%;
  padding-left: 30px;
  background-color: var(--white-color);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 270px 1fr;
  grid-template-areas:
    "menu-icon"
    "myimg"
    "introduce";
}

.menu-icon {
  display: flex;
  align-items: center;
  grid-area: menu-icon;
}

.myimg {
  display: flex;
  align-items: center;
  grid-area: myimg;
}

.myimg img {
  height: 100%;
}

.myimg .social {
  display: flex;
  padding-left: 30px;
  align-items: flex-end;
  height: 100%;
}

.myimg .social a {
  margin-right: 10px;
}

.introduce {
  grid-area: introduce;
}

.introduce p {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 30px 0 30px 0;
}

.mouse-pointer {
  z-index: 100;
  pointer-events: none;
}
