@charset "utf-8";

@import url(/css/reset.css);
@import url(/css/default.css);

body {
  background-color: var(--beige-color);
}

#wrap{
  width: 100%;
  text-align: center;
}

h1 {
  margin: 50px 0 50px 0;
}

.star-rating {
  width: auto;
}

.current-rating {
  margin: 20px 0 60px 0;
}
