@charset "utf-8";

.star-rating-container{
    --main-color : #dddccc;
    --hover-color : #adadad;
    --select-color : #ee470a;
}

.star-rating-container > i{
    font-size: 60px;
    color: var(--main-color);
}

.star-rating-container > i.hover{
    color: var(--hover-color);
}

.star-rating-container > i.select{
    color: var(--select-color);
}

