@charset "utf-8";

@import url(/css/reset.css);
@import url(/css/default.css);

body{
    background-color: var(--lime-color);
}

#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin: 50px 0 50px 0;
    color: var(--deepred-color);
}

.item{
    width: 400px;
    height: 200px;
    background-color:var(--orange01-color);
    margin-bottom: 40px;
    padding: 10px;
}

.header{
    width: 100%;
    height: 60px;
    padding-bottom: 5px;
}

.id{
    padding-bottom: 5px;
    font-size: 1.4rem;
    font-weight: bold;
}

.title{
    font-size: 1.2rem;
    font-weight: bold;
}

.body{
    padding-top: 10px;
    width: 100%;
    height: 120px;
}

.contents{
    font-size: 1rem;
    line-height: 1.5;
}

.loading{
    font-size: 2.1rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: var(--black-color);
}
